<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Planing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" media="screen" href="../../Bootstrap/css/bootstrap.min.css"/>

    <script src="../../js/jquery-3.6.0.min.js"></script>    
    <script src="../../Bootstrap/js/bootstrap.js"></script>
    <script src="../../Bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Estilos propios de la pagina -->
  <link rel="stylesheet" media="screen" href="../../css/estDep/style.css" />
  <link rel="stylesheet" media="screen" href="../../css/estDep/alter.css" />

</head>
<body>
 
  <div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 tittle">
            <h3 style="" >Catalogo de Estatus de Dependencias

            </h3>
      <hr class="separate"/>
        </div>
        <div class="col-lg-2"></div>
        
    </div>
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header"> 
            Formulario de Edición
          </div>
          <div class="card-body">
             <form action="#" th:action="@{/area/update}" th:object="${area}" method="post">
              <div class="row">
                <label for="name" class="col-sm-3 col-form-label">Nombre:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" th:field="*{name}" id="name" required />
                </div>
              </div>
              <div class="row">
                <label for="description" class="col-sm-3 col-form-label">Descripción:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" th:field="*{description}" id="description">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <input type="hidden" th:field="*{id}"/>
                  <input type="hidden" th:field="*{active}"/>

                </div>
              </div>
              <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-3">
                  <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
                <div class="col-lg-3">
                  <a class="btn btn-danger" href="index.html">Cancelar</a>
                </div>
              </div>


            </form>

          </div>
        </div>
      </div>
      <div class="col-lg-3"></div>
    </div>

  <script src="../../js/estDep/alter.js"></script> 
</body>
</html>