/**********************************************************************************************************************
***    Estilos de los componentes de un formulario de Creacion y edicion de datos
**********************************************************************************************************************/

label{
	text-align:right
}

.btn{
	width: 100%;
}
.row{
	margin-bottom:15px;

}