<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="layouts/MasterLayout :: header"></head>
<head>

</head>
<body>

<div th:replace="layouts/MasterLayout :: menu"></div>

<div class="container">
    <h3>Catalogo de Disciplinas</h3>
    <hr>

    <a th:href="@{/disciplina/showFormForAdd}" class="btn btn-primary btn-sm mb-3">
        Agregar disciplina
    </a>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Disciplina</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="disciplinaTmp : ${disciplinas}">
            <td th:text="${disciplinaTmp.id}"/>
            <td th:text="${disciplinaTmp.name}"/>
            <td th:text="${disciplinaTmp.description}"/>
            <td>
                <a class="btn btn-info btn-sm" th:href="@{/disciplina/showFormForUpdate(idDisciplina=${disciplinaTmp.id})}">
                    Actualizar
                </a>

                <a th:href="@{/disciplina/delete(disciplinaId=${disciplinaTmp.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Esta seguro de que decea eliminar la Disciplina?}))) return false">
                    Desabilitar
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>