<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerSprint">
    <title>Catalogo de Sprints</title>
    <link rel="stylesheet" media="screen" th:href="@{/css/sprint/style.css}" />

    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/Bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/Bootstrap/js/bootstrap.bundle.min.js}"></script>

</head>
<body>
<div th:fragment="pageTittle" class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 tittle">
        <h3 style="" >Catalogo de Sprints

        </h3>
        <hr class="separate"/>
    </div>
    <div class="col-lg-2"></div>

</div>

</body>
</html>