<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="layouts/MasterLayout :: header"></div>
    <title>Inicio</title>

</head>
<body>

<div th:replace="layouts/MasterLayout :: menu"></div>

  <div class="container">
      <div class="row">
          <div class="col-lg-4" style="    height: 100px;
    background-color: red;"></div>
          <div class="col-lg-4" style="    height: 100px;
    background-color: blue;"></div>
          <div class="col-lg-4" style="    height: 100px;
    background-color: red;"></div>
      </div>

  </div>
</body>
</html>